/*
 * Below are Cascading Style Sheet (CSS) definitions in use in this file,
 * which allow easily changing how countries are displayed.
 *
 */

/*
 * Circles around small countries
 *
 * Change opacity to 1 to display all circles.
 *
 */

/*
 * Not displaying the rawdata
 */
 #rawdata
 {
     display: none;
 }

.circlexx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}

/*
 * Smaller circles around French DOMs and Chinese SARs
 *
 * Change opacity to 1 to display all subnational circles.
 *
 */
.subxx
{
   opacity:0;
   stroke-width:0.3;
}

/*
 * Circles around small, unrecognized countries
 *
 * Change opacity to 1 to display all circles.
 *
 */
.unxx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.3;
}

/*
 * Circles around small countries, but with no permanent residents
 *
 * Change opacity to 1 to display all circles.
 *
 */
.noxx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}

/*
 * land
 */
.landxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0.5;
   fill-rule:evenodd;
}

/*
 * Styles for coastlines of islands with no borders
 */
.coastxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0.3;
   fill-rule:evenodd;
}

/*
 * Styles for nations with limited recognition
 */
.limitxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}

/*
 * Styles for nations with no permanent population.
 */
.antxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}

/*
 * Ocean
 */
.oceanxx
{
   opacity: 1;
   color: #000000;
   fill:#ffffff;
   stroke:#000;
   stroke-width:0.5;
   stroke-miterlimit:1;
}

/*
 * Additional style rules
 *
 * The following are examples of colouring countries.  You can substitute these with your own styles to colour the countries on the map.
 *
 * Color a few countries:
 *
 * .gb, .au, .nc
 * {
 *    fill:       #ff0000;
 * }
 *
 * Color a few small country circles (and the countries):
 *
 * .ms, .ky
 * {
 *    opacity:    1;
 *    fill:       #ff0000;
 * }
 *
 */

/* continent color, EU, red */
.eu:not(.gf), .no, .mk, .rs, .al, .ba, .hr, .ch, .is, .me, .by, .tr, .ua, .md
{
    fill: #ff0000;
}
/* country colors */

/* Netherlands, green */
#path6484
{
    fill: #00ff00;
}

/* Croatia, blue */
#path4066
{
    fill: #0000ff;
}

/* Switzerland, purple */
#ch
{
    fill: #ff00ff;
}
